.dataTables_wrapper {
	.dataTables_length,
	.dataTables_filter {
		margin-top: -30px;
		margin-bottom: 10px;
		float: right;
	}
	#DataTables_Table_0_filter {
		margin-right: 10px;
	}
}

.custom-options {
	max-width: 45vw;
	.opciones {
		width: auto;
	}
}